[user]
	name = Federico Rodriguez
	email = federodriguez.88@gmail.com
[github]
  user = elfedy
[bitbucket]
  user = ferodrig
  email = federico@mejuri.com
[merge]
	tool = opendiff
[alias]
	co = checkout
[credential]
	helper = osxkeychain
  useHttpPath = true
