[user]
	name = spikeonmars
	email = federodriguez.88@gmail.com
[github]
  user = elfedy
[bitbucket]
  user = ferodrig
  email = federico@mejuri.com
[merge]
	tool = opendiff
[alias]
	co = checkout
[credential]
	helper = osxkeychain
  useHttpPath = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
